/*resetando o css dos nossos elementos html*/
*{
    margin: 0;
    padding: 0;
}

/*estilizando a main*/
main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(87, 86, 168);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
    width: 300px;
    height: fit-content;
    margin-bottom: 30px;
}

.content{
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;  
}

h1{
    color: rgb(243, 25, 189);
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#not{
    background-color: rgb(5, 4, 4);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color: white;
}
#yes{
    background-color: rgb(9, 218, 255);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color: white;
}

